.inner
  .funds.center(style="text-align: center" ng-cloak)
    .field.w50
      .amount ${{ me.adFunds | number:2 }}
      .desc Advertising Credit
    .field.w50
      .amount ${{ me.pubFunds | number:2 }}
      .desc Publisher Balance
    .actions
      button(form-modal template="/views/dashboard/account:withdraw" title="Withdrawal settings"
      ok-button-text="Save" form-submit="saveWithdrawalSettings()" form-object="withdrawalInfo") Withdrawal settings

      button.blue(form-modal template="/views/dashboard/account:billing" title="Deposit funds"
      ok-button-text="Deposit via Paypal" form-submit="deposit()" form-object="paymentInfo") Deposit funds
  .field
    table.transactions
      tbody(ng-repeat="t in transactions" ng-if="t.action == 'withdrawal'")
        tr.withdraw
          td.desc Amount ${{ t.amount | number:2 }}
          td.from {{ t.type }}
          td.time {{ t.time | date:'yyyy-MM-dd' }}
          td.number - ${{ t.amount | number:2 }}
      tbody(ng-repeat="t in transactions" ng-if="t.action == 'deposit'")
        tr.deposit
          td.desc Amount ${{ t.amount | number:2 }}
          td.from Paypal
          td.time {{ t.time | date:'yyyy-MM-dd' }}
          td.number + ${{ t.amount | number:2 }}

    div(ng-if="pendingWithdrawals.length > 0")
      br
      br
      h2.block.tcenter Pending Withdrawals
      table.transactions
        tbody(ng-repeat="t in pendingWithdrawals")
          tr.withdraw
            td.desc Amount ${{ t.amount | number:2 }}
            td.from {{ t.type }}
            td.time {{ t.time | date:'yyyy-MM-dd' }}
            td.number - ${{ t.amount | number:2 }}
