doctype html
html(lang="en" ng-app="AdefyApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    title Dashboard

    meta(name="description" content="")
    meta(name="author" content="Spectrum IT")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    | <!--[if IE]>
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    | <![endif]-->

    link(rel="icon" href="/img/favicon.png" type="image/png")

    if mode == "production" || mode == "staging"
      //- Errorception
      script.
        (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
        c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
        c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
        _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
        (window,document,"script","52e15d7e31ab7cc110000007");

    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(rel="stylesheet" href="/css/vendor.min.css")
    link(rel="stylesheet" href="/css/styles.min.css")

    | <!--[if lt IE 9]>
    |   <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    | <![endif]-->

    //- Intercom
    script#IntercomSettingsScriptTag.
      window.intercomSettings = {
        name: "#{user.username}",
        email: "#{user.email}",
        ad_funds: #{user.adFunds},
        pub_funds: #{user.pubFunds},
        first_name: "#{user.fname}",
        last_name: "#{user.lname}",
        company: "#{user.company}",
        city: "#{user.city}",
        country: "#{user.country}",
        created_at: #{user.signedup},
        app_id: "d21334dd55144ac5e033fbfde2dd7227d06023aa",
        user_hash: "#{intercomSecureHash(user.email)}"
      };

      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

    //- Filepicker
    script(src="//api.filepicker.io/v1/filepicker.js")
    script.
      filepicker.setKey("Aw0cpCnEeTLe23CePFWT4z");

  body(ng-controller="AdefyRootController" ng-class="{withNotification: notification}").tk-proxima-nova
    header.navbar.cf
      a(href="/")
        #logo Adefy

      if user.type == "advertiser"
        .menu.left.full
          a(href="/home" tab)
            i.fa.fa-fw.fa-home
            | Advertiser
          a(href="/campaigns" tab)
            i.fa.fa-fw.fa-bullhorn
            | Campaigns
          a(href="/ads" alias="/creatives,/creatives/,/ads/reports" tab)
            i.fa.fa-fw.fa-sitemap
            | Ads &amp; Creatives
          a(href="/publishers" tab)
            i.fa.fa-fw.fa-rocket
            | Publishers
          a(href="/marketplace" tab)
            i.fa.fa-legal
            | Marketplace

      else if user.type == "publisher"
        .menu.left.full
          a(href="/home" tab)
            i.fa.fa-fw.fa-home
            | Publisher
          a(href="/apps" tab)
            i.fa.fa-fw.fa-rocket
            | Apps
          a(href="/marketplace" tab)
            i.fa.fa-fw.fa-legal
            | Marketplace

      else if user.type == "admin"
        .menu.left.full
          a(href="/home" tab)
            i.fa.fa-fw.fa-home
            | Admin

      .menu.right

        if user.type == "advertiser"
          a(href="/funds" tab ng-cloak) Balance {{ me.adFunds | currency:$ }}
        else if user.type == "publisher"
          a(href="/funds" tab ng-cloak) Credit {{ me.pubFunds | currency:$ }}

        .da(dropdown, ng-click="toggleSelect()")
          i.fa.fa-fw.fa-cogs
          .dropdown(ng-show="isPopupVisible")
            if user.type == "admin"
              a(href="/admin/home")
                i.fa.fa-fw.fa-user
                | Admin
            a(href="/funds")
              i.fa.fa-fw.fa-dollar
              | Funds
            a(href="/settings")
              i.fa.fa-fw.fa-wrench
              | Settings
            a(ng-click="showTutorial()")
              i.fa.fa-fw.fa-question
              | Show tutorial
            a(ng-click="showIntercom()")
              i.fa.fa-fw.fa-comment
              | Support
            a(href="/logout" target="_self")
              i.fa.fa-fw.fa-sign-out
              | Sign out

    .notification(ng-show="notification" ng-class="notification.type")
      span(ng-bind="notification.text")
      i.fa.fa-fw.fa-times-circle(ng-click="clearNotification()")

    .content(ng-view="")

    footer
      if mode == "production" || mode == "staging"
        script(src="/js/vendor.min.js")
        script(src="/js/script.min.js")

      else

        script(src="/components/jquery/dist/jquery.min.js")
        script(src="/components/ace-builds/src-min/ace.js")
        //- Modified libs

        script(src="/js/vendor/stackBlur.min.js")
        script(src="/js/vendor/guiders.js")

        script(src="/components/accounting/accounting.min.js")
        script(src="/components/select2/select2.min.js")
        script(src="/components/showdown/src/showdown.js")

        script(src="/components/chosen/chosen.jquery.min.js")

        script(src="/components/angular/angular.min.js")
        script(src="/components/angular-resource/angular-resource.min.js")
        script(src="/components/angular-route/angular-route.min.js")
        script(src="/components/angular-ui-select2/src/select2.js")
        script(src="/components/angular-chosen-localytics/chosen.js")
        script(src="/components/ng-table/ng-table.js")
        script(src="/components/angular-markdown-filter/markdown.js")

        script(src="/components/angles/angles.js")

        script(src="/components/ngQuickDate/dist/ng-quick-date.min.js")
        script(src="/components/moment/min/moment.min.js")
        script(src="/components/d3/d3.min.js")
        script(src="/components/rickshaw/rickshaw.min.js")

        if user.type == "publisher"
          script(src="/js/routes/publisher.js")
        else if user.type == "advertiser"
          script(src="/js/routes/advertiser.js")
        else if user.type == "admin"
          script(src="/js/routes/admin.js")

        script(src="/js/controllers/root.js")

        //-
        //- Tutorial
        //-
        script(src="/js/tutorial/dashboard.js")
        script(src="/js/tutorial/apps.js")
        script(src="/js/tutorial/app_details.js")
        script(src="/js/tutorial/ads.js")
        script(src="/js/tutorial/ad_details.js")
        script(src="/js/tutorial/campaigns.js")
        script(src="/js/tutorial/campaign_details.js")
        script(src="/js/tutorial/reports.js")
        script(src="/js/tutorial/funds.js")

        //--
        //-- Root directives
        //--

        script(src="/js/directives/dropdown.js")
        script(src="/js/directives/tab.js")
        script(src="/js/directives/form_modal.js")
        script(src="/js/directives/graph.js")
        script(src="/js/directives/analytics.js")
        script(src="/js/directives/toggle_switch.js")
        script(src="/js/directives/creator.js")
        script(src="/js/directives/campaign_icon.js")

        //--
        //-- Services
        //--

        script(src="/js/services/ad.js")
        script(src="/js/services/app.js")
        script(src="/js/services/campaign.js")
        script(src="/js/services/news.js")
        script(src="/js/services/user.js")

        //--
        //-- Pages (controllers, factories, directives, and services)
        //--

        //-- Factories
        script(src="/js/factories/ad.js")
        script(src="/js/factories/app.js")
        script(src="/js/factories/campaign.js")
        script(src="/js/factories/news.js")
        script(src="/js/factories/user.js")

        //-- Controllers
        //- Accounts
        script(src="/js/controllers/account/funds.js")
        script(src="/js/controllers/account/settings.js")

        //- Ads
        script(src="/js/controllers/ads/manage_ads.js")
        script(src="/js/controllers/ads/manage_creatives.js")
        script(src="/js/controllers/ads/menus/ad.js")
        script(src="/js/controllers/ads/menus/creative.js")

        script(src="/js/controllers/ads/creative/details.js")
        script(src="/js/controllers/ads/creative/exports.js")

        script(src="/js/controllers/ads/ad/details.js")
        script(src="/js/controllers/ads/ad/edit_organic_creative.js")
        script(src="/js/controllers/ads/ad/edit_native_creative.js")
        script(src="/js/controllers/ads/ad/edit_reminder.js")

        //- Apps
        script(src="/js/controllers/apps/create.js")
        script(src="/js/controllers/apps/details.js")
        script(src="/js/controllers/apps/edit.js")
        script(src="/js/controllers/apps/index.js")
        script(src="/js/controllers/apps/menu.js")

        //- Campaigns
        script(src="/js/controllers/campaigns/create.js")
        script(src="/js/controllers/campaigns/details.js")
        script(src="/js/controllers/campaigns/edit.js")
        script(src="/js/controllers/campaigns/index.js")
        script(src="/js/controllers/campaigns/menu.js")

        //- Dashboards
        script(src="/js/controllers/dashboards/advertiser.js")
        script(src="/js/controllers/dashboards/publisher.js")

        //- News
        script(src="/js/controllers/news/create.js")
        script(src="/js/controllers/news/details.js")
        script(src="/js/controllers/news/edit.js")
        script(src="/js/controllers/news/index.js")
        script(src="/js/controllers/news/menu.js")

        //- Reports
        script(src="/js/controllers/reports/ads.js")
        script(src="/js/controllers/reports/apps.js")
        script(src="/js/controllers/reports/campaigns.js")

        if user.admin
          script(src="/js/controllers/admin/index.js")
          script(src="/js/controllers/admin/publishers.js")
          script(src="/js/controllers/admin/users.js")
          script(src="/js/controllers/admin/menu.js")
          script(src="/js/controllers/admin/ads.js")

      script(src="//use.typekit.net/udl8vci.js")
      script.
        try{Typekit.load();}catch(e){}
        // ferno │ .tk-proxima-nova
