include _menu

.contents.w1170.center
  br
  br
  .w50.padded
    .section Publishers Awaiting Approval

    table.info
      thead: tr
        th User
        th App Name
        th
      tbody
        tr(ng-repeat="pub in pubs" ng-if="pub.status == 0")
          td {{ pub.owner.username }}
          td {{ pub.name }}

          td
            button.blue(ng-click="viewPub(pub)") View

    br
    br

    .section Approved Publishers

    table.info
      thead: tr
        th User
        th App Name
        th
      tbody
        tr(ng-repeat="pub in pubs" ng-if="pub.status == 2")
          td {{ pub.owner.username }}
          td {{ pub.name }}

          td
            span.label(ng-class="pub.activeClass" style="margin-right: 8px;") {{ pub.activeText }}
            button.blue(ng-click="viewPub(pub)") View

    br
    br

    .section Rejected Publishers

    table.info
      thead: tr
        th User
        th App Name
        th
      tbody
        tr(ng-repeat="pub in pubs" ng-if="pub.status == 1")
          td {{ pub.owner.username }}
          td {{ pub.name }}

          td
            span.label(ng-class="pub.activeClass" style="margin-right: 8px;") {{ pub.activeText }}
            button.blue(ng-click="viewPub(pub)") View

  .w50.padded(ng-if="!pubView")
    h3 No publisher selected

  .w50.padded(ng-if="pubView")
    form
      fieldset: dl.form.center.labels-only
        legend Basic Info

        dt: label.tright Name:
        dd: label {{ pubView.name }}

        dt: label.tright URL:
        dd: a(ng-href="{{ pubView.url }}" target="_blank") {{ pubView.url }}

        dt: label.tright Category:
        dd: label {{ pubView.category }}

        dt: label.tright Pricing:
        dd: label {{ pubView.preferredPricing }}

        dt: label.tright Minimum CPM:
        dd: label ${{ pubView.minimumCPM | number:2 }}

        dt: label.tright Minimum CPC:
        dd: label ${{ pubView.minimumCPC | number:2 }}

        div(ng-if="pubView.description.length > 0")
          dt: label.tright Description:
          dd: label {{ pubView.description }}

      fieldset(ng-if="pubView.status == 2"): dl.form.center.labels-only
        legend Statistics

        dt: label.tright Impressions:
        dd: label {{ pubView.stats.impressions }}

        dt: label.tright Clicks:
        dd: label {{ pubView.stats.clicks }}

        dt: label.tright Earnings:
        dd: label ${{ pubView.stats.earnings | number:2 }}

      fieldset: dl.form.center.labels-only
        legend User Information

        dt: label.tright Username:
        dd: label {{ pubView.owner.username }}

        div(ng-if="pubView.owner.fname.length > 0")
          dt: label.tright First Name:
          dd: label {{ pubView.owner.fname }}

        div(ng-if="pubView.owner.lname.length > 0")
          dt: label.tright Last Name:
          dd: label {{ pubView.owner.lname }}

        div(ng-if="pubView.owner.company.length > 0")
          dt: label.tright Company:
          dd: label {{ pubView.owner.company }}

        dt: label.tright Email:
        dd: label {{ pubView.owner.email }}

        dt: label.tright Publisher Revenue:
        dd: label ${{ pubView.owner.pubFunds | number:2 }}

        dt: label.tright Advertiser Credit:
        dd: label ${{ pubView.owner.adFunds | number:2 }}

        dt
        dd
          button.blue(ng-click="approvePub()" ng-if="pubView.status != 2") Approve
          button.red(ng-click="disapprovePub()" ng-if="pubView.status != 1") Disapprove
