//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

include _menu

.contents.w1170.center
  br
  br
  .w50.padded
    h1 Publishers Awaiting Approval

    table.info
      thead: tr
        th User
        th App Name
        th
      tbody
        tr(ng-repeat="pub in pubs" ng-if="pub.status == 0")
          td {{ pub.owner.username }}
          td {{ pub.name }}

          td
            button.blue(ng-click="viewPub(pub)") View

    br
    br

    h1 Approved Publishers

    table.info
      thead: tr
        th User
        th App Name
        th
      tbody
        tr(ng-repeat="pub in pubs" ng-if="pub.status == 2")
          td {{ pub.owner.username }}
          td {{ pub.name }}

          td
            span.label(ng-class="pub.activeClass" style="margin-right: 8px;") {{ pub.activeText }}
            button.blue(ng-click="viewPub(pub)") View

  .w50.padded(ng-if="!pubView")
    h3 No publisher selected

  .w50.padded(ng-if="pubView")
    form
      fieldset: dl.form.center
        legend Basic Info

        dt: h3.tright Name:
        dd: h6 {{ pubView.name }}

        dt: h3.tright URL:
        dd: a(ng-href="{{ pubView.url }}" target="_blank") {{ pubView.url }}

        dt: h3.tright Category:
        dd: h6 {{ pubView.category }}

        dt: h3.tright Pricing:
        dd: h6 {{ pubView.preferredPricing }}

        dt: h3.tright Minimum CPM:
        dd: h6 ${{ pubView.minimumCPM | number:2 }}

        dt: h3.tright Minimum CPC:
        dd: h6 ${{ pubView.minimumCPC | number:2 }}

        div(ng-if="pubView.description.length > 0")
          dt: h3.tright Description:
          dd: h6 {{ pubView.description }}

      fieldset(ng-if="pubView.status == 2"): dl.form.center
        legend Statistics

        dt: h3.tright Impressions:
        dd: h6 {{ pubView.stats.impressions }}

        dt: h3.tright Clicks:
        dd: h6 {{ pubView.stats.clicks }}

        dt: h3.tright Earnings:
        dd: h6 ${{ pubView.stats.earnings | number:2 }}

      fieldset: dl.form.center
        legend User Information

        dt: h3.tright Username:
        dd: h6 {{ pubView.owner.username }}

        div(ng-if="pubView.owner.fname.length > 0")
          dt: h3.tright First Name:
          dd: h6 {{ pubView.owner.fname }}

        div(ng-if="pubView.owner.lname.length > 0")
          dt: h3.tright Last Name:
          dd: h6 {{ pubView.owner.lname }}

        div(ng-if="pubView.owner.company.length > 0")
          dt: h3.tright Company:
          dd: h6 {{ pubView.owner.company }}

        dt: h3.tright Email:
        dd: h6 {{ pubView.owner.email }}

        dt: h3.tright Publisher Revenue:
        dd: h6 ${{ pubView.owner.pubFunds | number:2 }}

        dt: h3.tright Advertiser Credit:
        dd: h6 ${{ pubView.owner.adFunds | number:2 }}

        dt
        dd
          button.blue(ng-click="approvePub()" ng-if="pubView.status != 2") Approve
          button.red(ng-click="disapprovePub()" ng-if="pubView.status != 1") Disapprove
