//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

!!!
html(lang="en" ng-app="AdefyApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    title Dashboard

    meta(name="description" content="")
    meta(name="author" content="Spectrum IT")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    | <!--[if IE]>
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    | <![endif]-->

    link(rel="icon" href="/img/favicon.png" type="image/png")

    script(src="/js/vendor/pace.min.js")
    link(rel="stylesheet" href="/css/vendor/pace-flash.css")

    //- Errorception
    script.
      (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
      c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
      c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
      _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
      (window,document,"script","52e15d7e31ab7cc110000007");

    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(rel="stylesheet" href="/css/styles.min.css")

    | <!--[if lt IE 9]>
    |   <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    | <![endif]-->

    //- Intercom
    script#IntercomSettingsScriptTag.
      window.intercomSettings = {
        name: "#{user.username}",
        email: "#{user.email}",
        ad_funds: #{user.adFunds},
        pub_funds: #{user.pubFunds},
        first_name: "#{user.fname}",
        last_name: "#{user.lname}",
        company: "#{user.company}",
        city: "#{user.city}",
        country: "#{user.country}",
        created_at: #{user.signedup},
        app_id: "d21334dd55144ac5e033fbfde2dd7227d06023aa",
        user_hash: "#{intercomSecureHash(user.email)}"
      };

      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

  body(ng-controller="AdefyRootController" ng-class="{withNotification: notification}").tk-proxima-nova
    header.navbar.cf
      #logo Adefy
      .menu.left.full
        a(href="/home/publisher" alias="/home/advertiser" tab)
          i.fa.fa-fw.fa-home
          | Dashboard
        a(href="/reports/campaigns" tab)
          i.fa.fa-fw.fa-signal
          | Reports
        a(href="/campaigns" tab)
          i.fa.fa-fw.fa-bullhorn
          | Campaigns
        a(href="/ads" tab)
          i.fa.fa-fw.fa-sitemap
          | Ads
        a(href="/apps" tab)
          i.fa.fa-fw.fa-rocket
          | Apps

      .menu.right
        a(href="/funds", tab) Advertiser $ {{ me.adFunds | number:2 }}
        a(href="/funds", tab) Publisher $ {{ me.pubFunds | number:2 }}
        .da(dropdown, ng-click="toggleSelect()")
          i.fa.fa-fw.fa-cogs
          .dropdown(ng-show="isPopupVisible")
            if user.admin
              a(href="/admin/home")
                i.fa.fa-fw.fa-user
                | Admin
            a(href="/funds")
              i.fa.fa-fw.fa-dollar
              | Payments
            a(href="/settings")
              i.fa.fa-fw.fa-wrench
              | Settings
            a(ng-click="showIntercom()")
              i.fa.fa-fw.fa-comment
              | Support
            a(href="/logout" target="_self")
              i.fa.fa-fw.fa-sign-out
              | Sign out

    .notification(ng-show="notification" ng-class="notification.type")
      span(ng-bind="notification.text")
      i.fa.fa-fw.fa-times-circle(ng-click="clearNotification()")

    .content(ng-view="")

    footer
      if mode == "production" || mode == "staging"
        if user.admin
          script(src="/js/script-admin.min.js")
        else
          script(src="/js/script.min.js")
      else
        script(src="/js/vendor/stackBlur.min.js")
        script(src="/js/vendor/jquery-2.0.3.min.js")
        script(src="/js/vendor/accounting.min.js")
        script(src="/js/vendor/select2.min.js")
        script(src="/js/vendor/angular-1.2.11.min.js")
        script(src="/js/vendor/angular-resource.min.js")
        script(src="/js/vendor/angular-route.min.js")
        script(src="/js/vendor/angular-country-select.min.js")
        script(src="/js/vendor/angular-ui-select2.js")
        script(src="/js/vendor/angles.js")
        script(src="/js/vendor/guiders.js")
        script(src="/js/vendor/angular.chosen.js")
        script(src="/js/vendor/ng-quick-date.min.js")
        script(src="/js/vendor/moment.min.js")

        script(src="/js/vendor/d3.min.js")
        script(src="/js/vendor/rickshaw.min.js")

        //--
        //-- Module, route configs, and root controller
        //--

        if user.admin
          script(src="/client/routes/admin.js")
        else
          script(src="/client/routes/normal.js")

        script(src="/client/controllers/AdefyRootController.js")

        //--
        //-- Root directives
        //--

        script(src="/client/directives/AdefyDropdownDirective.js")
        script(src="/client/directives/AdefyTabDirective.js")
        script(src="/client/directives/AdefyModalFormDirective.js")
        script(src="/client/directives/AdefyGraphDirective.js")
        script(src="/client/directives/AdefyAnalyticsDirective.js")
        script(src="/client/directives/AdefyToggleSwitchDirective.js")
        script(src="/client/directives/AdefyCreatorDirective.js")

        //--
        //-- Services
        //--

        script(src="/client/services/CampaignService.js")
        script(src="/client/services/AppService.js")
        script(src="/client/services/AdService.js")

        //--
        //-- Pages (controllers, factories, directives, and services)
        //--

        //- Accounts
        script(src="/client/pages/account/controllers/AdefyAccountFundsController.js")
        script(src="/client/pages/account/controllers/AdefyAccountSettingsController.js")

        //- Ads
        script(src="/client/pages/ads/controllers/AdefyAdCreativeController.js")
        script(src="/client/pages/ads/controllers/AdefyAdDetailController.js")
        script(src="/client/pages/ads/controllers/AdefyAdIndexController.js")
        script(src="/client/pages/ads/controllers/AdefyAdMenuController.js")
        script(src="/client/pages/ads/factories/AdefyAdFactory.js")

        //- Apps
        script(src="/client/pages/apps/controllers/AdefyAppsCreateController.js")
        script(src="/client/pages/apps/controllers/AdefyAppsDetailsController.js")
        script(src="/client/pages/apps/controllers/AdefyAppsEditController.js")
        script(src="/client/pages/apps/controllers/AdefyAppsIndexController.js")
        script(src="/client/pages/apps/controllers/AdefyAppsMenuController.js")
        script(src="/client/pages/apps/factories/AdefyAppFactory.js")

        //- Campaigns
        script(src="/client/pages/campaigns/controllers/AdefyCampaignCreateController.js")
        script(src="/client/pages/campaigns/controllers/AdefyCampaignDetailsController.js")
        script(src="/client/pages/campaigns/controllers/AdefyCampaignEditController.js")
        script(src="/client/pages/campaigns/controllers/AdefyCampaignIndexController.js")
        script(src="/client/pages/campaigns/controllers/AdefyCampaignMenuController.js")
        script(src="/client/pages/campaigns/factories/AdefyCampaignFactory.js")

        //- Dashboards
        script(src="/client/pages/dashboards/controllers/AdefyDashboardAdvertiserController.js")
        script(src="/client/pages/dashboards/controllers/AdefyDashboardPublisherController.js")

        //- Reports
        script(src="/client/pages/reports/controllers/AdefyReportsAdsController.js")
        script(src="/client/pages/reports/controllers/AdefyReportsAppsController.js")
        script(src="/client/pages/reports/controllers/AdefyReportsCampaignsController.js")

        if user.admin
          script(src="/client/pages/admin/controllers/AdefyAdminIndexController.js")
          script(src="/client/pages/admin/controllers/AdefyAdminPublishersController.js")
          script(src="/client/pages/admin/controllers/AdefyAdminUsersController.js")
          script(src="/client/pages/admin/controllers/AdefyAdminMenuController.js")
          script(src="/client/pages/admin/controllers/AdefyAdminAdsController.js")

      script(src="//use.typekit.net/udl8vci.js")
      script.
        try{Typekit.load();}catch(e){}
        // ferno │ .tk-proxima-nova

      script.
        guiders.createGuider({
          title: "Welcome to Adefy!",
          description: "This is a short guide that will walk you through the basics. You may cancel at any time, and restart this guide from the options menu.",
          attachTo: "#logo",
          buttons: [{ name: "Next" }],
          id: "guider1",
          next: "guider2",
          position: "bottomLeft"
        }).show();

        guiders.createGuider({
          title: "Support & Feedback",
          description: "You can talk to us by clicking this question mark! We reply quickly, so feel free to reach out with any questions or comments you may have.",
          attachTo: "#IntercomDefaultWidget",
          buttons: [{ name: "Next" }, { name: "Previous" }],
          id: "guider2",
          next: "guider3",
          position: "8",
          overlay: true,
          highlight: "#IntercomDefaultWidget",
          offset: { top: 3, left: 0 }
        });

        guiders.createGuider({
          title: "Options Menu",
          description: "This is the options menu, where you can access account settings, funds, support, and this tutorial.",
          attachTo: "header.navbar .menu.right div.da",
          buttons: [{ name: "Next" }, { name: "Previous" }],
          id: "guider3",
          next: "guider4",
          position: "5",
          overlay: true,
          highlight: "header.navbar",
          offset: { top: 0, left: 10 }
        });

        guiders.createGuider({
          title: "Funds",
          description: "These are your Advertiser and Publisher balances. You may deposit advertising credit on the funds page, and withdraw from both balances.",
          attachTo: "header.navbar .menu.right",
          buttons: [{ name: "Next" }, { name: "Previous" }],
          id: "guider4",
          next: "guider5",
          position: "6",
          overlay: true,
          highlight: "header.navbar"
        });

        guiders.createGuider({
          title: "Navigation",
          description: "Here you can access different sections of the platform.",
          attachTo: "header.navbar .menu.left",
          buttons: [{ name: "Next" }, { name: "Previous" }],
          id: "guider5",
          next: "guider6",
          position: "6",
          overlay: true,
          highlight: "header.navbar"
        });

        guiders.createGuider({
          title: "Publisher Dashboard",
          description: "This is the publisher dashboard, where you can see a summary of your metrics from the past 24h hours, along with a lifetime graph.",
          buttons: [{ name: "Next" }, { name: "Previous" }],
          id: "guider6",
          next: "guider7",
          position: "6",
          overlay: true,
          highlight: ".content"
        });

        guiders.createGuider({
          title: "Top Apps",
          description: "Here you can view lifetime details for your top 10 best performing apps.",
          attachTo: "#home-publisher table.info",
          buttons: [{ name: "Next" }, { name: "Previous" }],
          id: "guider7",
          next: "guider8",
          position: "12",
          overlay: true,
          highlight: "#home-publisher table.info"
        });

        guiders.createGuider({
          title: "News",
          description: "Any noteworthy events and updates will be posted here from time to time.",
          attachTo: "#home-publisher ul.news",
          buttons: [{ name: "Next" }, { name: "Previous" }],
          id: "guider8",
          next: "guider9",
          position: "12",
          overlay: true,
          highlight: "#home-publisher ul.news"
        });
