//-
//- Copyright © 2013 Spectrum IT Solutions Gmbh
//-
//- Firmensitz: Wien
//- Firmenbuchgericht: Handelsgericht Wien
//- Firmenbuchnummer: 393588g
//-
//- All Rights Reserved.
//-
//- The use and / or modification of this file is subject to
//- Spectrum IT Solutions GmbH and may not be made without the explicit
//- permission of Spectrum IT Solutions GmbH
//-

.inner
  .funds.center(style="text-align: center")
    .amount.large ${{ me.funds | number:2 }}
    .desc Balance
    .field.w50
      .amount ${{ me.funds | number:2 }}
      .desc Spent
    .field.w50
      .amount ${{ me.funds | number:2 }}
      .desc Earned
    .actions
      button(form-modal template="/views/dashboard/account:billing" title="Withdraw funds"
      ok-button-text="Withdraw" form-submit="withdraw()" form-object="paymentInfo") Withdraw funds
      button.blue(form-modal template="/views/dashboard/account:billing" title="Deposit funds"
      ok-button-text="Deposit via Paypal" form-submit="deposit()" form-object="paymentInfo") Deposit funds
  table.transactions
    tbody(ng-repeat="t in transactions" ng-switch="t.action")
      tr.withdraw(ng-switch-when="withdrawal")
        td.desc Withdrawn ${{ t.amount | number:2 }}
        td.time {{ t.time | date:'yyyy-MM-dd HH:mm:ss' }}
        td.number - ${{ t.amount | number:2 }}
      tr.deposit(ng-switch-when="deposit")
        td.desc Deposited ${{ t.amount | number:2 }}
        td.time {{ t.time | date:'yyyy-MM-dd HH:mm:ss' }}
        td.number + ${{ t.amount | number:2 }}
